body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, lightgrey, #fff, lightgrey);
}

.container{
  width: 800px;
  height: 450px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  box-shadow: 0 1em 5em .1em  black; 
  /* box-shadow: 1em 1em  black 1em 1em; */
}

.arrow {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 50px;
}

.arrow img {
  width: 30px;
  height: 30px;
}

.right img{
  transform: rotate(180deg);
}

.display {
  height: 100%;
  width: 100%;
}

.display img {
  height: 100%;
  width: 100%;
}

.indexed {
  z-index: 1;
}

.thumbnail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 70%;
  /* height: 100px; */
  border: 1px solid grey;
}

.thumbnail img{
  width: 60px;
  height: 60px;
  -webkit-filter: grayscale(80%);
	filter: grayscale(80%);
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.thumbnail img:active{
  border: 5px solid red;
}

.thumbnail img:hover {
  cursor: pointer;
  -webkit-filter: grayscale(10%);
	filter: grayscale(10%);
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}


