.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.thumbnail {
  flex-wrap: wrap;  
  border: 2px solid black;
  width: 100px;
  height: 100px;
}

img {
  max-width: 200px;
  max-height: 100px;
  margin: 1px;
}