body{
  background-color: aliceblue;
  display: flex;
}

.container {
  width: 600px;
  flex-direction: column;
  display: flex;
}

/* The container should have a fixed width
The items should fill all available horizontal space
The yellow item should be twice as tall as the side items */
.item {
  flex-grow: 1;
  min-width: 100px;
}

.green {
  background-color: #64D536;
  order: 1;
}

.yellow {
  background-color: #FBD64A;
  flex-grow: 4;
  order: 3;
}

.purple{
  background-color: #B350F7;
  order: 2;
}