#media-query-tester{
  z-index: 1;
  height: 100px;
  width: 100px;
  position: relative;

}

table {
  border-collapse: collapse;
  border-radius: 5px;
  /* background: hsl(180, 50, 50); */
  background: rgba(25, 250, 0, 0.2);
}

thead tr {
  border: 3px solid black;
}

th, td {
  width: 100px;
  height: 40px;
  /* min-width: 100px;
  min-height: 40px; */
  border: 1px solid grey;
}

/* also oddS: 2n+1 */
tbody>tr:nth-child(2n) {
  background: rgba(0, 221, 250, 0.4);
}

tbody>tr:nth-child(2n-1)>td:nth-child(2n+1) {
  background: rgba(11, 148, 153, 0.6);
}

th:hover {
  border: 1px solid palevioletred;
  box-shadow: inset 2px 2px 5px 0px rgba(8, 53, 49, 0.75);
  width: 102px;
  height: 42px;
}

@media screen and (max-width: 700px) {
  #media-query-tester {
    background: red;
  }
}

@media screen and (orientation: landscape) {
  #media-query-tester {
    background: red;
  }
}