/* The layout should be centered on the page.
The layout should have fixed width.
When picking the semantically correct element, consider the roles of the boxes:
Purple: Header
Cyan: Navigation links
Yellow: Main Content
Green: Sidebar (not main content) */

body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  border: 1px solid black;
  margin: 0;
  padding: 0;
  width: 760px;
  height: 600px;
}

header {
  background-color: purple;
  height: 10%;
  width: 100%;
}

nav {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  margin-left: 10px;
}

a {
  display: inline-block;
  background-color: rgb(16, 130, 138);
  height: 60%;
  width: 25%;
  margin-right: 10px;
}

a:nth-child(1){
  flex-grow: 5;
}
a:nth-child(2){
  flex-grow: 2;
}
a:nth-child(3){
  flex-grow: 3;
}
.container {
  align-items: center;
  background-color: yellow;
  display: flex;
  height: 90%;
  justify-content: center;
  width: 100%;
}
.main {
  height: 100%;
  width: 67%;
  background-color: yellow;
  flex-grow: 2;
}
.sidebar{
  background-color: greenyellow;
  height: 100%;
  width: 33%;
}