<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>todo</title>
  <link href="/assets/style.css" rel="stylesheet" type="text/css" >
</head>

<body>
  <h1>cocktails</h1>

  <% cocktails.forEach(element => { %>
  <li>
    <%= element.name %>
  </li>
  <% }); %>


</body>

</html>