body {
  background-color: #ddd;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.wrapper {
  margin-top: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
}

form {
  background-color: #fff;
  border-radius: 5px;
  height: 520px;
  width: 560px;
  display: table;
}

fieldset {
  display: block;
  border: 0;
  margin: 60px 80px 0 80px;
}

legend {
  font-size: 28px;
  letter-spacing: 0.03em;
  margin-top: 60px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

label, input {
  cursor: pointer;
  display: table-cell;
  font-size: 14px;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
  width: 100%;
}

label {
  margin-bottom: 10px;
  padding: 10px 0;
  text-transform: uppercase;
}

input[type="text"] {
  height: 50px;
}

input[type="password"] {
  background: url(img/eye7-01-512.png) no-repeat;
  background-position: 98%;
  background-size: 40px;
  height: 50px;
  align-self: flex-end;
}


input[type=text],
input[type=password] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, 
input[type=password ]:focus {
  box-shadow: 0 0 5px rgb(28, 224, 182);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(28, 221, 182, 0.733);
}

.password {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: #444;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  margin: 0;
  padding: 10px 50px;
}

button:focus {
  outline: none;
}


