div {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: 1px solid black;
  background-color: grey;
  box-shadow: 0px; 
  min-width: 300px;
  min-height: 100px;
}