body{
  background-color: aliceblue;
  display: flex;
}

.container {
  align-items: center;
  height: 400;
  width: 960;
  display: flex;
  flex-direction: row-reverse;
}

/* The items' order should stay the same in the
 HTML and only change in display */
.item {
  flex-grow: 1;
  min-width: 100px;
  min-height: 150px;
}

.green {
  background-color: #64D536;
}

.yellow {
  flex-grow: 4;
  background-color: #FBD64A;
}

.purple{
  background-color: #B350F7;
}