
.wrapper {
  max-width: 800px;
}

.main {
  min-width: 400px;
  border: 1px solid grey;
}

article {
  border: 1px solid red;
}

h1 {
  background: grey;
}

h2{
  background: lightgrey;
}

date {
  
}