body {
  display: flex;
  font-family: Helvetica, sans-serif;
  color: grey;
}

.wrapper {
  margin: 0 auto;
  background-color: #3E94EC;
  height: 600px;
  display: flex;
  justify-content: center;
  height: fit-content;
  max-width: 1260px;
}

table {
  align-content: center;
  background: whitesmoke;
  border-collapse: collapse;
  border-radius: 10px;
  margin: 50px;
  max-width: 960px;
  /* border-collapse: collapse; */
}

thead tr {
  border-bottom: 3px solid grey;
}

th, td {
  border: 1px solid grey;
  font-size: 22px;
  vertical-align: left;
  margin: 0 0 0 20px;
}

th {
  background: #222;
  color: white;
  font-size: 26px;
  width: 360px;
  height: 90px;
}

tr {
  height: 70px;
}

thead>tr>th:nth-child(1n) {
  border-radius: 10px 0 0 0;
}

thead>tr>th:nth-child(2n) {
  border-radius: 0 10px 0 0;
}

tbody>tr:nth-child(2n) {
  background: white;
}

tbody>tr:nth-child(2n) {
  background: white;
}

tbody>tr:last-child>td:first-child {
  border-radius: 0 0 10px 0;
}

tbody>tr:last-child>td:first-child {
  border-radius: 0 0 0 10px;
}

td[data-currency="usd"]::before {
  content: "$ ";
}