<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>cocktails</title>
  <link href="/assets/style.css" rel="stylesheet" type="text/css">
</head>

<body>

  <table>

    <thead>
      <tr>
        <th colspan="4">
          <h1>cocktails</h1>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th>name</th>
        <th>contents</th>
        <th>alcoholic</th>
        <th>price</th>
      </tr>
      <tr>
        <% cocktails.forEach(element => { %>
        <td>
          <%= element.name %>
        </td>
        <td>
          <%= element.contains %>
        </td>
        <td>
          <%= element.isAlcoholic %>
        </td>
        <td>
          <%= element.price %>
        </td>
      </tr>
      <% }); %>

    </tbody>

  </table>

</body>

</html>