body {
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  background: url(https://i.pinimg.com/originals/62/d8/41/62d8415cd097f299a78a1365ab446a19.jpg);
  background-position: center top;
  background-size: cover;
  display: flex;
  flex-direction: row;
  min-width: 800px;
  height: 193px;
  max-width: 1600px;
  position: relative;
}

.logo{
  background: url(https://b.thumbs.redditmedia.com/Zf90LsQEOyfU9RKf5NgXRATeMlFHULaD-B6UlicR5Sc.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  left: 5%;
  margin: 0 0 0 10px; 
  width: 50px;
}

.space{
  background-image: url(https://styles.redditmedia.com/t5_2qh87/styles/bannerPositionedImage_911tfwrxj3f01.png);
  background-repeat: no-repeat;
  height: 26px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
}

.wrapper {
  align-content: space-between;
  background: white;
  display: flex;
  flex-direction: row;  
}

.feed{
  background: #ddd;
}